!!!
%html
  %head
    %title ExpressYaself.in
    %script(src="javascripts/jquery-1.9.1.min.js")
    %script(src="javascripts/jquery.md5.js")
    %script(src="http://#{request.host}:1337/faye/faye.js")
    %link(rel="stylesheet" href="styles/express.css")
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38964465-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    #content
      =yield
